# SPDX-FileCopyrightText: Copyright (c) 2026 Contributors to the Eclipse Foundation
# SPDX-License-Identifier: Apache-2.0
# shellcheck shell=bash

if has devenv; then
  eval "$(devenv direnvrc)"
  use devenv
  unset SOURCE_DATE_EPOCH
else
  echo "devenv not found. Install it from https://devenv.sh/getting-started/"
fi
